{{#link-to 'movies.new' class="btn btn-secondary pull-xs-right"}}Add new movie{{/link-to}}

<div class="card movie-search">
  <h4 class="card-title">Search</h4>
  <form class="form-inline">
    <div class="form-group">
      {{input value=searchTitle key-up="updateSearch" class="form-control form-control-sm" placeholder="Title"}}
    </div>
    <div class="form-group">
      {{input value=searchDirector key-up="updateSearch" class="form-control form-control-sm" placeholder="Director"}}
    </div>
    <div class="form-group">
      {{input value=searchActor key-up="updateSearch" class="form-control form-control-sm" placeholder="Actor"}}
    </div>
    <div class="form-group">
      {{input value=searchRating key-up="updateSearch" class="form-control form-control-sm" placeholder="Rating"}}
    </div>
  </form>

  <p class="text-info">You could query rating with equality operators '&lt;' and '&gt;'. Valid values are '9', '&lt;7.5', '&gt;8'</p>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Year</th>
      <th>Title</th>
      <th {{action 'toggleSort'}}>Rating <span class="{{iconClass}}"></span></th>
    </tr>
  </thead>
  <tbody>
    {{#each sortedMovies as |movie|}}
      <tr>
        <td>{{movie.year}}</td>
        <td>
           {{#link-to 'movie' movie}}{{movie.title}}{{/link-to}}
        </td>
        <td>{{movie.rate}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
