<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">{{movie.title}}</h4>
        <h6 class="card-subtitle text-muted">{{movie.year}}</h6>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{movie.rate}}</li>
        <li class="list-group-item">Director: {{movie.director}}</li>
        <li class="list-group-item">Actors: {{movie.actors}}</li>
      </ul>
      <div class="card-block">
        {{#link-to 'movie.edit' movie class="card-link"}}Edit{{/link-to}}
        <button {{action 'deleteMovie'}} class="card-link btn-link">Delete</button>
      </div>
    </div>
  </div>
</div>
