<form {{action 'authenticate' on='submit'}} class='form-signin'>
  <h2 class="form-signin-heading">Please login</h2>

  {{#if errorMessage}}
    <div data-alert class='alert alert-box radius'>
      {{errorMessage}}
      <a {{action 'closeMessage'}} class='close'>x</a>
    </div>
  {{/if}}

  <div class="form-group">
    <label for='email'>Email</label>
    {{input id='email' placeholder='Enter email' value=email class='form-control'}}
  </div>
  <div class="form-group">
    <label for='password'>Password</label>
    {{input id='password' placeholder='Enter Password' type='password' value=password class='form-control'}}
  </div>
  <button type='submit' class="btn btn-lg btn-primary btn-block">Login</button>
</form>
